*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

nav{
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 75px;
	background-color: rgba(0, 0, 0, 0.6);
}

nav ul{
	float: right;
	margin-right: 109px;
	font-size: 15px;
	margin-top: 25px;
}

nav ul li{
	float: left;
	list-style-type: none;
	margin-right: 30px;
	color: white;
}

nav ul li a:hover{
	color:#1db954;
	text-decoration: none;

}

a{
	color: white;
	text-decoration: none;
}

header{
	padding-top: 255px;
	padding-left: 370px;
	background-image: url("../img/bkg1.jpg");
	background-size: 100%;
	background-repeat:no-repeat;
	padding-bottom:200px;
}

section{
	z-index: 0;
}

.guia{
	width: 100%;
	opacity: 0.6;
	z-index: -1;
	position: absolute;
}

.logo{
	width: 130px;
	margin-top: 20px;
	margin-left: 140px
}

.slogan{
	color: white;
	font-size: 67px;
	margin-bottom: 49px;
}

.btn{
	border-radius: 70px;
	color: white;
	height: 46px;
	font-size: 15px;
	font-weight: bold;
}

.btn-verde{
	background-color: #1db954;
	width: 320px;
	border: none;
	margin-right: 5px;
}

.btn-verde:hover{
	background-color: #20DD63;
}

.btn_branco{
	width: 298px;
	background-color: rgba(0, 0, 0 , 0);
	border: 2px solid white;
}

.btn_branco:hover{
	background-color: white;
	color: black;
}

.conteudo{
	margin-top: 45px;
}

.titulo{
	font-size: 40px;
}

.albuns{
	width: 550px;
}
 /* inicio seçao 3*/

.secao3{
	margin-top: 50px;
	height: 600px;
	background-image: url("../img/bkg2.jpg");
	background-size: 100%;
	background-repeat:no-repeat;
}

.facil{
	float: right;
	margin-top: 70px;
	margin-right: 315px;
	color: white;
}

.titulo-2{
	font-size:40px;
	font-weight: bold;
	color: white;
}
